In [ ]:
# SORU 1
SELECT 
	CITY AS [ŞEHİR],
	SUM(LINETOTAL) AS [TOPLAM SATIŞ TUTARI]
FROM SALEORDERS
GROUP BY CITY
ORDER BY 1

In [ ]:
# SORU 2
SELECT 
	CITY AS [ŞEHİR],
	MONTH_ AS [AY],
	SUM(LINETOTAL) AS [TOPLAM SATIŞ TUTARI]
FROM SALEORDERS
GROUP BY
	CITY,
	MONTH_
ORDER BY 
	1, 2

In [ ]:
# SORU 3
SELECT
	CITY,
	DAYOFWEEK_,
	SUM(LINETOTAL) AS [EN YÜKSEK SATIŞ TUTARI]
FROM SALEORDERS
GROUP BY
	CITY,
	DAYOFWEEK_
ORDER BY
	1, 3 DESC

In [ ]:
# SORU 4
SELECT
	CITY,
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='01.PZT' AND SO.CITY=CITY) AS [PAZARTESİ],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='02.SAL' AND SO.CITY=CITY) AS [SALI],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='03.ÇAR' AND SO.CITY=CITY) AS [ÇARŞAMBA],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='04.PER' AND SO.CITY=CITY) AS [PERŞEMBE],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='05.CUM' AND SO.CITY=CITY) AS [CUMA],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='06.CMT' AND SO.CITY=CITY) AS [CUMARTESİ],
	(SELECT SUM(LINETOTAL) FROM SALEORDERS WHERE DAYOFWEEK_='07.PAZ' AND SO.CITY=CITY) AS [PAZAR]
FROM SALEORDERS AS SO
GROUP BY CITY
ORDER BY CITY

In [ ]:
# SORU 5
# OPTION 1
SELECT 
	CITY,
	CATEGORY1,
	[TOPLAM SATIS]
FROM (
SELECT
	CITY,
	CATEGORY1,
	SUM(LINETOTAL) AS [TOPLAM SATIS],
	ROW_NUMBER() OVER (PARTITION BY CITY ORDER BY SUM(LINETOTAL) DESC) AS RANK_
FROM SALEORDERS
GROUP BY 
	CITY, 
	CATEGORY1) AS T
WHERE RANK_ < 6
ORDER BY 
	1,
	3 DESC
    
    
    # OPTION 2
    SELECT
	SO.CITY,
	SO2.CATEGORY1,
	MAX(SO2.TOPLAMSATIS) AS [SON TOPLAM]
FROM SALEORDERS AS SO
CROSS APPLY (
	SELECT TOP 5
		CATEGORY1, 
		SUM(LINETOTAL) AS TOPLAMSATIS 
	FROM SALEORDERS 
	WHERE CITY=SO.CITY 
	GROUP BY CATEGORY1 
	ORDER BY 2 DESC) AS SO2
GROUP BY
	SO.CITY,
	SO2.CATEGORY1
ORDER BY 
	1,
	3 DESC

In [ ]:
# SORU 6
SELECT 
	CITY,
	CATEGORY1,
	CATEGORY2,
	[TOPLAM SATIS],
	RANK_
FROM (
SELECT
	CITY,
	CATEGORY1,
	CATEGORY2,
	SUM(LINETOTAL) AS [TOPLAM SATIS],
	ROW_NUMBER() OVER (PARTITION BY CITY ORDER BY SUM(LINETOTAL) DESC) AS RANK_
FROM SALEORDERS
GROUP BY 
	CITY,
	CATEGORY1, 
	CATEGORY2) AS T
WHERE RANK_ < 4
ORDER BY 
	1,
	4 DESC