In [ ]:
CREATE DATABASE HR

In [ ]:
# SORU 2
CREATE TABLE POSITION(
	ID INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
	POSITION VARCHAR(50)
);


CREATE TABLE DEPARTMENT(
	ID INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
	DEPARTMENT VARCHAR(50)
);


CREATE TABLE PERSON(
	ID INT IDENTITY(1, 1) NOT NULL PRIMARY KEY, 
	CODE CHAR(4),
	TCNUMBER CHAR(11),
	NAME_ VARCHAR(50),
	SURNAME VARCHAR(50),
	GENDER CHAR(1),
	BIRTHDATE DATE,
	INDATE DATE,
	OUTDATE DATE,
	DEPARTMENTID INT, 
	POSITIONID INT,
	PARENTPOSITIONID INT,
	MANAGERID INT,
	TELNR1 CHAR(14),
	SALARY INT,
	FOREIGN KEY(DEPARTMENTID) REFERENCES DEPARTMENT(ID),
	FOREIGN KEY(POSITIONID) REFERENCES POSITION(ID),
	FOREIGN KEY(PARENTPOSITIONID) REFERENCES POSITION(ID)
	-- FOREIGN KEY(MANAGERID) REFERENCES PERSON(ID)
);

In [ ]:
DELETE FROM TABLE_NAME
DBCC CHECKIDENT(TABLE_NAME, RESEED, 0)

In [ ]:
# SORU 3
INSERT INTO DEPARTMENT (DEPARTMENT) VALUES (...)
INSERT INTO POSITION (POSITION) VALUES (...)
INSERT INTO PERSON (CODE,TCNUMBER,NAME_,SURNAME,GENDER,BIRTHDATE,INDATE,OUTDATE,DEPARTMENTID,POSITIONID,PARENTPOSITIONID,MANAGERID,TELNR1,SALARY) VALUES (...)

In [ ]:
# SORU 4
SELECT *
FROM PERSON
WHERE OUTDATE IS NULL

In [ ]:
# SORU 5
SELECT 
	DEPARTMENT,
	CASE
		WHEN GENDER='K' THEN 'KADIN'
		WHEN GENDER='E' THEN 'ERKEK'
	END AS GENDER,
	COUNT(*) AS PERSONALS
FROM PERSON
JOIN DEPARTMENT AS D ON D.ID = DEPARTMENTID
WHERE OUTDATE IS NULL
GROUP BY 
	DEPARTMENT,
	GENDER
ORDER BY
	1, 2

In [ ]:
# SORU 6
SELECT 
	DEPARTMENT,
	SUM(CASE WHEN GENDER='K' THEN 1 ELSE 0 END) AS [KADIN],
	SUM(CASE WHEN GENDER='E' THEN 1 ELSE 0 END) AS [ERKEK]
FROM PERSON
JOIN DEPARTMENT AS D ON D.ID=DEPARTMENTID
WHERE OUTDATE IS NULL
GROUP BY D.DEPARTMENT

In [ ]:
# SORU 7
SELECT
	P.POSITION,
	COUNT(*) AS SAYISI,
	MIN(SALARY) AS MINIMUM,
	MAX(SALARY) AS MAKSIMUM,
	ROUND(AVG(SALARY), 0) AS ORTALAMA
FROM PERSON
JOIN POSITION AS P ON P.ID=POSITIONID
GROUP BY P.POSITION
HAVING P.POSITION LIKE 'PLANLAMA%'

In [ ]:
# SORU 8
## OPTION 1
SELECT 
	P.POSITION,
	COUNT(*) [ÇALIŞAN SAYISI],
	AVG(SALARY) AS [ORTALAMA ÜCRET]
FROM PERSON
JOIN POSITION AS P ON P.ID=POSITIONID
GROUP BY P.POSITION
ORDER BY 2 DESC


## OPTION 2
SELECT 
	POSITION,
	(SELECT COUNT(*) FROM PERSON WHERE POSITION.ID=POSITIONID) AS [ÇALIŞAN SAYISI],
	(SELECT ROUND(AVG(SALARY), 0) FROM PERSON WHERE POSITION.ID=POSITIONID) AS [ORTALAMA ÜCRET]
FROM POSITION
ORDER BY 2 DESC

In [ ]:
# SORU 9
SELECT 
	YEAR(INDATE) AS [GIRIS YILI],
	SUM(CASE WHEN GENDER='K' THEN 1 ELSE 0 END) AS [KADIN],
	SUM(CASE WHEN GENDER='E' THEN 1 ELSE 0 END) AS [ERKEK]
FROM PERSON
GROUP BY YEAR(INDATE)
ORDER BY [GIRIS YILI]

In [ ]:
# SORU 10
SELECT 
	NAME_, 
	SURNAME,
	CASE
		WHEN OUTDATE IS NULL THEN DATEDIFF(MONTH, INDATE, GETDATE())
		ELSE DATEDIFF(MONTH, INDATE, OUTDATE)
	END AS [ÇALIŞMA AYI],
	INDATE AS [GİRİŞ TARİHİ],
	OUTDATE AS [AYRILMA TARİHİ]
FROM PERSON
ORDER BY 2, 1, 3 DESC

In [ ]:
# SORU 11
SELECT 
	ISIMSOYISIM,
	COUNT(*) AS [SAYI]
FROM (
	SELECT
		CONCAT(
			LEFT(NAME_, 1), 
			'.', 
			LEFT(SURNAME, 1), 
			'.') AS [ISIMSOYISIM]
	FROM PERSON ) AS T
GROUP BY ISIMSOYISIM
ORDER BY 2 DESC

In [ ]:
# SORU 12
# OPTION 1
SELECT
	D.DEPARTMENT,
	AVG(SALARY) AS ORTMAAS
FROM PERSON
JOIN DEPARTMENT AS D ON D.ID=DEPARTMENTID
GROUP BY D.DEPARTMENT
HAVING AVG(SALARY) > 5500
ORDER BY 2 DESC

# OPTION 2
SELECT 
	DEPARTMENT,
	(SELECT AVG(SALARY) FROM PERSON WHERE DEPARTMENTID=D.ID) AS ORTMAAS
FROM DEPARTMENT AS D
WHERE (SELECT AVG(SALARY) FROM PERSON WHERE DEPARTMENTID=D.ID)>5500
ORDER BY 2 DESC

In [ ]:
# SORU 13
SELECT 
	D.DEPARTMENT,
	AVG(CASE 
		WHEN OUTDATE IS NULL THEN DATEDIFF(MONTH, INDATE, GETDATE())
		ELSE DATEDIFF(MONTH, INDATE, OUTDATE)
	END) AS ORTKIDEM
FROM PERSON
JOIN DEPARTMENT AS D ON D.ID=DEPARTMENTID
GROUP BY D.DEPARTMENT
ORDER BY 2 DESC

In [ ]:
# SORU 14
# OPTION 1
SELECT 
	CONCAT(PP.NAME_, ' ', PP.SURNAME) AS ISIM,
	P.POSITION,
	CONCAT(PR.NAME_, ' ', PR.SURNAME) AS MANAGER,
	P2.POSITION
FROM PERSON AS PP
JOIN POSITION AS P ON P.ID=POSITIONID
JOIN PERSON AS PR ON PR.ID=PP.MANAGERID
JOIN POSITION AS P2 ON P2.ID=PR.POSITIONID
ORDER BY 1

# OPTION 2
SELECT
	PP.NAME_+' '+PP.SURNAME,
	P.POSITION,
	PR.NAME_+' '+PR.SURNAME,
	(SELECT POSITION FROM POSITION WHERE PR.POSITIONID=ID)
FROM POSITION AS P
JOIN PERSON AS PP ON PP.POSITIONID=P.ID
JOIN PERSON AS PR ON PR.ID=PP.MANAGERID
ORDER BY 1