In [1]:
import pyodbc
import pandas as pd

In [ ]:
pd.set_option("display.expand_frame_repr", None)

In [2]:
pd.reset_option("display.width", None)

In [3]:
driver = '{SQL Server}'
server = 'DESKTOP-41IVAA9'
database = 'Customers'
username = 'sa'
password = '1'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
connection = pyodbc.connect(connection_string)
cursor = connection.cursor()

In [5]:
def sorgu(query, select=True):
    cursor = connection.cursor()
    cursor.execute(query)
    if select:
        rows = cursor.fetchall()
        rows = [list(row) for row in rows]
        columns = [column[0] for column in cursor.description]
        return pd.DataFrame(rows, columns=columns)

In [ ]:
df = sorgu("SELECT * FROM CUSTOMERS")
df

#### SORU 6

In [6]:
# -- SORU 6
df = sorgu("SELECT * FROM CUSTOMERS WHERE NAMESURNAME LIKE 'A%'")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP
0,6,Ahmet İNCİKAPI,6722155596,E,a_incikapi@miuul.com,1991-05-28,53,225,(532)2414618,(538)8459085,20-35 YAŞ
1,7,Arif TEMELOĞLU,43691911318,E,a_temeloglu@miuul.com,1967-12-11,40,638,(554)5504524,(534)6379277,56-65 YAŞ
2,9,Ali Eymen DEVE,80011834707,E,a_eymen@miuul.com,1985-01-23,39,463,(533)8082176,(538)4811026,36-45 YAŞ
3,88,Ayhan ÖZÇİL,3328037338,E,a_ozcil@miuul.com,1963-11-08,10,114,(543)2007274,(534)1062665,56-65 YAŞ
4,89,Azad ÖNÜR,65514513990,E,a_onvr@miuul.com,1989-03-23,55,722,(532)7551426,(542)2487070,20-35 YAŞ
...,...,...,...,...,...,...,...,...,...,...,...
73,924,Ali CENGİARSLAN,37707906321,E,a_cengiarslan@miuul.com,1988-01-19,27,728,(542)6905828,(533)3111924,20-35 YAŞ
74,945,Aslıhan BİLALOGLU,78549819278,K,a_bilaloglu@miuul.com,1968-09-20,15,249,(535)1451111,(541)5962564,46-55 YAŞ
75,975,Aras KORKMAN,48942375673,E,a_korkman@miuul.com,1950-07-12,15,249,(553)2204286,(533)3091497,65+ YAŞ
76,985,Ayhan SAYIT,30417025079,E,a_sayit@miuul.com,1982-05-24,37,720,(538)6749244,(541)6986592,36-45 YAŞ
77,1016,Alya KURBET,7148644820,K,a_kurbet@miuul.com,1987-07-04,54,23,(534)6685692,(538)6828229,36-45 YAŞ

#### SORU 7

In [7]:
# -- SORU 7
df = sorgu("""
SELECT * 
FROM CUSTOMERS 
WHERE NAMESURNAME LIKE 'A%'
AND GENDER = 'E'""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP
0,6,Ahmet İNCİKAPI,6722155596,E,a_incikapi@miuul.com,1991-05-28,53,225,(532)2414618,(538)8459085,20-35 YAŞ
1,7,Arif TEMELOĞLU,43691911318,E,a_temeloglu@miuul.com,1967-12-11,40,638,(554)5504524,(534)6379277,56-65 YAŞ
2,9,Ali Eymen DEVE,80011834707,E,a_eymen@miuul.com,1985-01-23,39,463,(533)8082176,(538)4811026,36-45 YAŞ
3,88,Ayhan ÖZÇİL,3328037338,E,a_ozcil@miuul.com,1963-11-08,10,114,(543)2007274,(534)1062665,56-65 YAŞ
4,89,Azad ÖNÜR,65514513990,E,a_onvr@miuul.com,1989-03-23,55,722,(532)7551426,(542)2487070,20-35 YAŞ
5,109,Abdurrahman ALTINGÖZ,55960130916,E,a_altingoz@miuul.com,1999-08-07,37,720,(544)6667247,(538)2796190,20-35 YAŞ
6,155,Adil KINALI,62403300353,E,a_kinali@miuul.com,1995-04-29,21,675,(542)5082498,(533)8398360,20-35 YAŞ
7,202,Ayhan KARAMARLI,51329958677,E,a_karamarli@miuul.com,1957-12-02,39,598,(544)6372815,(532)5308665,65+ YAŞ
8,248,Azad ERGÜNEŞ,60171995213,E,a_ergvnes@miuul.com,1990-07-19,14,408,(538)3718436,(537)4538516,20-35 YAŞ
9,285,Azad KAYAR,12138400338,E,a_kayar@miuul.com,1981-03-22,37,174,(553)8521332,(555)7492984,36-45 YAŞ
10,331,Alperen OKHAN,78719217462,E,a_okhan@miuul.com,1967-04-12,81,16,(541)5192649,(536)9152573,56-65 YAŞ
11,340,Abdulkadir AĞZIKÜÇIK,57487607292,E,a_agzikvcik@miuul.com,1972-03-15,58,179,(535)1496460,(532)8478084,46-55 YAŞ
12,346,Adnan UYAVER,3975897450,E,a_uyaver@miuul.com,1945-11-03,8,712,(553)5781970,(543)2339232,65+ YAŞ
13,354,Aykut ELÇİOĞLU,62980066125,E,a_elcioglu@miuul.com,1977-02-27,28,169,(532)4211650,(534)8043652,46-55 YAŞ
14,371,Adem ÖNERSOY,76251143207,E,a_onersoy@miuul.com,1959-10-01,59,280,(537)9235625,(555)4469448,56-65 YAŞ
15,374,Alparslan DELİÇAY,31046718841,E,a_delicay@miuul.com,1964-11-06,80,910,(536)8655364,(535)6094561,56-65 YAŞ
16,404,Ayhan GENÇ,80162522135,E,a_genc@miuul.com,1998-03-01,61,616,(537)4981360,(554)8733016,20-35 YAŞ
17,418,Ali Osman ÖZELÇAM,50170787076,E,a_osman@miuul.com,1990-09-08,27,725,(532)3924745,(544)5726522,20-35 YAŞ
18,428,Ali KIZILGÖK,28382404446,E,a_kizilgok@miuul.com,1979-07-01,35,660,(534)7561345,(542)5243276,36-45 YAŞ
19,481,Atakan SUSUZLU,88728917096,E,a_susuzlu@miuul.com,1973-09-09,7,229,(535)3255052,(532)2658231,46-55 YAŞ
20,496,Arif PALANCILAR,88656186608,E,a_palancilar@miuul.com,1960-08-15,1,4,(505)9816725,(533)7779533,56-65 YAŞ
21,502,Ali Osman KAPKIN,89592374223,E,a_osman@miuul.com,1956-09-08,10,528,(505)6343138,(505)1352629,65+ YAŞ
22,521,Ayhan ARDAHANLI,18476133057,E,a_ardahanli@miuul.com,1977-10-22,73,815,(538)9618979,(544)2542237,46-55 YAŞ
23,553,Adil ANTALI,63999302142,E,a_antali@miuul.com,1971-07-09,19,734,(553)8188217,(555)6298389,46-55 YAŞ
24,591,Arda ŞENONAR,65535487566,E,a_senonar@miuul.com,1950-04-29,6,30,(542)2933113,(542)3205586,65+ YAŞ
25,592,Arif ŞÖLEN,60340444021,E,a_solen@miuul.com,1961-01-29,32,601,(554)1515994,(505)9415411,56-65 YAŞ
26,607,Adil DERECİK,80715552033,E,a_derecik@miuul.com,1950-06-10,46,245,(537)3712131,(534)6666681,65+ YAŞ
27,611,Ayaz DÜRGELGİL,28666645854,E,a_dvrgelgil@miuul.com,1980-04-11,4,180,(541)2887025,(544)6112746,36-45 YAŞ
28,632,Ahmet EĞİT,42770407749,E,a_egit@miuul.com,1964-12-28,40,318,(542)5924459,(534)7755167,56-65 YAŞ
29,670,Ayaz GÖNCÜ,10341244015,E,a_goncv@miuul.com,1956-06-25,64,216,(537)1598919,(541)3924228,65+ YAŞ
30,703,Abdulsamet EKBER,7510373614,E,a_ekber@miuul.com,1943-06-02,33,258,(543)4829185,(532)1435818,65+ YAŞ
31,758,Alperen KAÇAĞAN,60426423574,E,a_kacagan@miuul.com,1983-04-16,52,379,(542)4744729,(533)7723753,36-45 YAŞ
32,764,Ayhan KALPAKOĞLU,53862467054,E,a_kalpakoglu@miuul.com,1965-11-28,32,344,(532)3882129,(532)1039590,56-65 YAŞ
33,800,Ahmet ÖZTOKLU,7381535545,E,a_oztoklu@miuul.com,1970-08-18,35,566,(543)1945153,(537)7223686,46-55 YAŞ
34,807,Aziz ÖZBAYSAL,16057356381,E,a_ozbaysal@miuul.com,1949-02-25,3,8,(533)3696983,(534)9404389,65+ YAŞ
35,808,Azat ÇAĞMAN,21861281044,E,a_cagman@miuul.com,1982-06-04,73,815,(542)8251562,(534)4372553,36-45 YAŞ
36,868,Adnan SÖZTUTAR,16937957559,E,a_soztutar@miuul.com,1950-11-25,17,103,(532)4468669,(532)3236654,65+ YAŞ
37,880,Ayaz IŞIN,62507761165,E,a_isin@miuul.com,1948-04-14,5,34,(542)4539767,(553)7492487,65+ YAŞ
38,881,Ayaz ERSEM,72495969222,E,a_ersem@miuul.com,1954-05-06,6,128,(537)8422490,(536)6348385,65+ YAŞ
39,924,Ali CENGİARSLAN,37707906321,E,a_cengiarslan@miuul.com,1988-01-19,27,728,(542)6905828,(533)3111924,20-35 YAŞ
40,975,Aras KORKMAN,48942375673,E,a_korkman@miuul.com,1950-07-12,15,249,(553)2204286,(533)3091497,65+ YAŞ
41,985,Ayhan SAYIT,30417025079,E,a_sayit@miuul.com,1982-05-24,37,720,(538)6749244,(541)6986592,36-45 YAŞ

#### SORU 8

In [8]:
# -- SORU 8
df = sorgu("""
SELECT *
FROM CUSTOMERS
WHERE BIRTHDATE BETWEEN '1990-01-01' AND '1995-12-31'
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP
0,6,Ahmet İNCİKAPI,6722155596,E,a_incikapi@miuul.com,1991-05-28,53,225,(532)2414618,(538)8459085,20-35 YAŞ
1,8,Elif ÖZÇELİKBAŞ,84870496920,K,e_ozcelikbas@miuul.com,1993-06-06,73,815,(536)9014627,(544)3937372,20-35 YAŞ
2,13,Dilan DOKUYUCU,74659763913,K,d_dokuyucu@miuul.com,1993-01-21,25,333,(538)8929868,(534)4275461,20-35 YAŞ
3,14,Selim ÖZBAY,77720855989,E,s_ozbay@miuul.com,1992-10-02,73,815,(535)5906635,(533)4273519,20-35 YAŞ
4,30,Bülent KAÇAROĞLU,21971116249,E,b_kacaroglu@miuul.com,1995-01-09,42,311,(554)6844639,(541)5324664,20-35 YAŞ
...,...,...,...,...,...,...,...,...,...,...,...
95,978,Caner ÖZTEL,29584025693,E,c_oztel@miuul.com,1991-10-07,5,552,(543)3006551,(537)4588348,20-35 YAŞ
96,979,Turan AYSER,66777087518,E,t_ayser@miuul.com,1992-02-19,79,364,(535)7971479,(532)4299465,20-35 YAŞ
97,986,Ceylin COŞĞUN,17415297361,K,c_cosgun@miuul.com,1994-12-29,11,445,(533)8061812,(534)3459741,20-35 YAŞ
98,1012,Soner KALIPCI,49804660632,E,s_kalipci@miuul.com,1993-12-21,72,373,(537)8836191,(532)8253796,20-35 YAŞ
99,1033,Kumsal GÜRGÜN,29061027611,K,k_gvrgvn@miuul.com,1994-04-21,4,197,(535)6359613,(536)5534873,20-35 YAŞ

In [9]:
# -- SORU 8
df = sorgu("""
SELECT *
FROM CUSTOMERS
WHERE YEAR(BIRTHDATE) BETWEEN 1990 AND 1995
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP
0,6,Ahmet İNCİKAPI,6722155596,E,a_incikapi@miuul.com,1991-05-28,53,225,(532)2414618,(538)8459085,20-35 YAŞ
1,8,Elif ÖZÇELİKBAŞ,84870496920,K,e_ozcelikbas@miuul.com,1993-06-06,73,815,(536)9014627,(544)3937372,20-35 YAŞ
2,13,Dilan DOKUYUCU,74659763913,K,d_dokuyucu@miuul.com,1993-01-21,25,333,(538)8929868,(534)4275461,20-35 YAŞ
3,14,Selim ÖZBAY,77720855989,E,s_ozbay@miuul.com,1992-10-02,73,815,(535)5906635,(533)4273519,20-35 YAŞ
4,30,Bülent KAÇAROĞLU,21971116249,E,b_kacaroglu@miuul.com,1995-01-09,42,311,(554)6844639,(541)5324664,20-35 YAŞ
...,...,...,...,...,...,...,...,...,...,...,...
95,978,Caner ÖZTEL,29584025693,E,c_oztel@miuul.com,1991-10-07,5,552,(543)3006551,(537)4588348,20-35 YAŞ
96,979,Turan AYSER,66777087518,E,t_ayser@miuul.com,1992-02-19,79,364,(535)7971479,(532)4299465,20-35 YAŞ
97,986,Ceylin COŞĞUN,17415297361,K,c_cosgun@miuul.com,1994-12-29,11,445,(533)8061812,(534)3459741,20-35 YAŞ
98,1012,Soner KALIPCI,49804660632,E,s_kalipci@miuul.com,1993-12-21,72,373,(537)8836191,(532)8253796,20-35 YAŞ
99,1033,Kumsal GÜRGÜN,29061027611,K,k_gvrgvn@miuul.com,1994-04-21,4,197,(535)6359613,(536)5534873,20-35 YAŞ

#### SORU 9

In [10]:
# -- SORU 9
df = sorgu("""
SELECT *
FROM CUSTOMERS AS C
JOIN CITIES AS CT ON CT.ID=C.CITYID
WHERE CT.CITY='İSTANBUL'
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP,ID,CITY
0,15,Yasin AĞAGÜL,32764684197,E,y_agagvl@miuul.com,1979-10-19,34,897,(532)6102663,(537)3381012,36-45 YAŞ,34,İSTANBUL
1,143,Sebahat CİLALITAŞ,65960134490,K,s_cilalitas@miuul.com,1978-09-30,34,64,(535)7019065,(532)2408341,36-45 YAŞ,34,İSTANBUL
2,152,Deniz BENDER,31619199155,E,d_bender@miuul.com,1986-04-04,34,134,(542)4181722,(536)4621320,36-45 YAŞ,34,İSTANBUL
3,156,Çağla BEĞEN,85581395736,K,c_begen@miuul.com,1991-12-22,34,81,(535)1338012,(533)8331511,20-35 YAŞ,34,İSTANBUL
4,182,Nurettin GAYRETLİ,2822523822,E,n_gayretli@miuul.com,1950-04-27,34,84,(532)7969080,(536)7322740,65+ YAŞ,34,İSTANBUL
5,195,Yeliz KÜÇÜKALP,65432369284,K,y_kvcvkalp@miuul.com,1965-02-26,34,488,(555)9613650,(543)1071715,56-65 YAŞ,34,İSTANBUL
6,222,Eylül GÜLÜ,56388773535,K,e_gvlv@miuul.com,1969-08-24,34,3,(537)5953916,(532)4647711,46-55 YAŞ,34,İSTANBUL
7,232,Müzeyyen OCAKÇI,89589164667,K,m_ocakci@miuul.com,1972-02-19,34,707,(543)1576124,(505)9181537,46-55 YAŞ,34,İSTANBUL
8,258,Muhammed Emin TEKKAYA,87271968026,E,m_emin@miuul.com,1984-04-19,34,897,(542)2911632,(535)9881318,36-45 YAŞ,34,İSTANBUL
9,267,Neslihan KILIÇÇEKER,53734331933,K,n_kilicceker@miuul.com,1982-10-04,34,707,(543)1432619,(505)2287257,36-45 YAŞ,34,İSTANBUL
10,302,Yusuf Eymen İCİK,46344601102,E,y_eymen@miuul.com,1968-05-19,34,310,(532)2557216,(538)8002129,46-55 YAŞ,34,İSTANBUL
11,310,Mevlüt ŞİMSEKER,2065043165,E,m_simseker@miuul.com,1949-11-11,34,83,(536)7793481,(536)9413739,65+ YAŞ,34,İSTANBUL
12,311,Nisanur AKKULAK,49012429023,K,n_akkulak@miuul.com,1979-02-06,34,895,(555)6709018,(543)9394443,36-45 YAŞ,34,İSTANBUL
13,323,Serdar ÇEMÇ,77873863780,E,s_cemc@miuul.com,1951-07-29,34,547,(543)4297688,(542)7539377,65+ YAŞ,34,İSTANBUL
14,337,Remziye ERAY,33991468715,K,r_eray@miuul.com,1967-01-26,34,719,(542)4873263,(553)2434933,56-65 YAŞ,34,İSTANBUL
15,342,Elife TINGIDIK,19933039590,K,e_tingidik@miuul.com,1965-02-07,34,707,(543)4621558,(532)5358366,56-65 YAŞ,34,İSTANBUL
16,474,Keziban OKSAK,87678193621,K,k_oksak@miuul.com,1977-11-26,34,707,(541)6218657,(543)7764885,46-55 YAŞ,34,İSTANBUL
17,477,Ayfer CELEBİ,80144211951,K,a_celebi@miuul.com,1986-05-26,34,543,(505)8295235,(535)2033277,36-45 YAŞ,34,İSTANBUL
18,486,Eren ŞUTANRIKULU,45125399189,E,e_sutanrikulu@miuul.com,1990-02-24,34,899,(534)2834758,(534)6709214,20-35 YAŞ,34,İSTANBUL
19,517,Onur AKSARAY,32469125920,E,o_aksaray@miuul.com,1979-10-18,34,923,(536)3901951,(541)9788847,36-45 YAŞ,34,İSTANBUL
20,518,Yaren UMAK,41365938908,K,y_umak@miuul.com,1957-09-10,34,83,(534)6301417,(505)4596129,65+ YAŞ,34,İSTANBUL
21,525,Muammer TOPALOĞLU-,7168517181,E,m_topaloglu-@miuul.com,1950-10-09,34,707,(505)9192816,(543)5442959,65+ YAŞ,34,İSTANBUL
22,532,Ebrar ALBAŞ,41896263989,K,e_albas@miuul.com,1955-11-28,34,310,(533)4027768,(534)8584166,65+ YAŞ,34,İSTANBUL
23,566,Ensar OLGAÇ,80924211220,E,e_olgac@miuul.com,1994-07-18,34,899,(555)4552219,(543)9245911,20-35 YAŞ,34,İSTANBUL
24,602,Bahar KAŞAYICI,47785654270,K,b_kasayici@miuul.com,1966-08-25,34,707,(538)8739532,(535)6751851,56-65 YAŞ,34,İSTANBUL
25,610,Ela ALTINKAN,21325635172,K,e_altinkan@miuul.com,1970-06-15,34,310,(538)8483070,(543)1775058,46-55 YAŞ,34,İSTANBUL
26,630,Rumeysa MARA,81583899079,K,r_mara@miuul.com,1997-09-04,34,707,(543)6392684,(533)7153585,20-35 YAŞ,34,İSTANBUL
27,631,Azra HASKARAMAN,40749281185,K,a_haskaraman@miuul.com,1986-06-12,34,707,(535)5133788,(533)9547231,36-45 YAŞ,34,İSTANBUL
28,641,Gülşen BEKDEMİR,50960125210,K,g_bekdemir@miuul.com,1947-12-18,34,134,(555)6135826,(536)3458818,65+ YAŞ,34,İSTANBUL
29,654,Erdal ÜRÜNLÜ,17550827248,E,e_vrvnlv@miuul.com,1966-06-16,34,543,(553)1172521,(554)8015495,56-65 YAŞ,34,İSTANBUL
30,656,Emircan ÖZTEL,4092345684,E,e_oztel@miuul.com,1995-09-26,34,707,(542)6706551,(541)7818778,20-35 YAŞ,34,İSTANBUL
31,676,Selahattin CANAYDIN,39322628588,E,s_canaydin@miuul.com,1981-03-04,34,899,(537)1118352,(505)7086339,36-45 YAŞ,34,İSTANBUL
32,751,Şevket ÖRGÜ,71464418638,E,s_orgv@miuul.com,1986-12-27,34,719,(534)8395150,(553)3567159,36-45 YAŞ,34,İSTANBUL
33,759,Güneş KOCABAŞ,16538320517,K,g_kocabas@miuul.com,1971-11-08,34,770,(543)3033710,(532)8037099,46-55 YAŞ,34,İSTANBUL
34,769,Gülay ÇAĞLIATALAY,75752454656,K,g_cagliatalay@miuul.com,1988-02-28,34,719,(535)6747315,(542)6854839,20-35 YAŞ,34,İSTANBUL
35,770,Tülin AKTAŞDOĞAN,9491013281,K,t_aktasdogan@miuul.com,1962-04-17,34,84,(543)6793282,(553)1502919,56-65 YAŞ,34,İSTANBUL
36,828,Yıldız TÜRKARUH,76311226661,K,y_tvrkaruh@miuul.com,1950-09-29,34,543,(543)8862283,(505)4592277,65+ YAŞ,34,İSTANBUL
37,845,Ömer TÜRKAKIN,57777799390,E,o_tvrkakin@miuul.com,1956-03-01,34,899,(543)3016555,(532)9004991,65+ YAŞ,34,İSTANBUL
38,854,Şerafettin KOMAÇAY,44085333220,E,s_komacay@miuul.com,1974-08-24,34,310,(533)2132058,(542)9142347,46-55 YAŞ,34,İSTANBUL
39,875,İlker ANAS,32938550941,E,i_anas@miuul.com,1964-01-14,34,84,(535)4281438,(537)2869792,56-65 YAŞ,34,İSTANBUL
40,926,Türkan MAH.25.SOK.,880191046,K,t_mah.25.sok.@miuul.com,1993-12-24,34,897,(533)6341392,(534)3116953,20-35 YAŞ,34,İSTANBUL
41,956,Zerda BİNNEOĞLU,70035515877,K,z_binneoglu@miuul.com,1983-06-04,34,84,(555)8526357,(541)7811272,36-45 YAŞ,34,İSTANBUL
42,970,Cemil GÜRAL,63605048963,E,c_gvral@miuul.com,1991-05-04,34,899,(538)2827421,(553)4724975,20-35 YAŞ,34,İSTANBUL
43,1005,Veysel USKUN,56622797451,E,v_uskun@miuul.com,1982-01-29,34,895,(538)1237653,(542)5509045,36-45 YAŞ,34,İSTANBUL
44,1009,Seda ALVER,58284414875,K,s_alver@miuul.com,1955-04-24,34,84,(543)4316161,(538)1041145,65+ YAŞ,34,İSTANBUL
45,1020,Nisanur KUZU,49402864286,K,n_kuzu@miuul.com,1983-07-06,34,707,(538)9672464,(555)4141153,36-45 YAŞ,34,İSTANBUL
46,1038,Yusuf Eymen TARI,22465899881,E,y_eymen@miuul.com,1946-12-28,34,707,(542)8456299,(542)1368216,65+ YAŞ,34,İSTANBUL

#### SORU 10

In [11]:
# -- SORU 10
df = sorgu("""
SELECT *
FROM CUSTOMERS
WHERE CITYID IN (
    SELECT ID
    FROM CITIES
    WHERE CITY='İSTANBUL')
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP
0,15,Yasin AĞAGÜL,32764684197,E,y_agagvl@miuul.com,1979-10-19,34,897,(532)6102663,(537)3381012,36-45 YAŞ
1,143,Sebahat CİLALITAŞ,65960134490,K,s_cilalitas@miuul.com,1978-09-30,34,64,(535)7019065,(532)2408341,36-45 YAŞ
2,152,Deniz BENDER,31619199155,E,d_bender@miuul.com,1986-04-04,34,134,(542)4181722,(536)4621320,36-45 YAŞ
3,156,Çağla BEĞEN,85581395736,K,c_begen@miuul.com,1991-12-22,34,81,(535)1338012,(533)8331511,20-35 YAŞ
4,182,Nurettin GAYRETLİ,2822523822,E,n_gayretli@miuul.com,1950-04-27,34,84,(532)7969080,(536)7322740,65+ YAŞ
5,195,Yeliz KÜÇÜKALP,65432369284,K,y_kvcvkalp@miuul.com,1965-02-26,34,488,(555)9613650,(543)1071715,56-65 YAŞ
6,222,Eylül GÜLÜ,56388773535,K,e_gvlv@miuul.com,1969-08-24,34,3,(537)5953916,(532)4647711,46-55 YAŞ
7,232,Müzeyyen OCAKÇI,89589164667,K,m_ocakci@miuul.com,1972-02-19,34,707,(543)1576124,(505)9181537,46-55 YAŞ
8,258,Muhammed Emin TEKKAYA,87271968026,E,m_emin@miuul.com,1984-04-19,34,897,(542)2911632,(535)9881318,36-45 YAŞ
9,267,Neslihan KILIÇÇEKER,53734331933,K,n_kilicceker@miuul.com,1982-10-04,34,707,(543)1432619,(505)2287257,36-45 YAŞ
10,302,Yusuf Eymen İCİK,46344601102,E,y_eymen@miuul.com,1968-05-19,34,310,(532)2557216,(538)8002129,46-55 YAŞ
11,310,Mevlüt ŞİMSEKER,2065043165,E,m_simseker@miuul.com,1949-11-11,34,83,(536)7793481,(536)9413739,65+ YAŞ
12,311,Nisanur AKKULAK,49012429023,K,n_akkulak@miuul.com,1979-02-06,34,895,(555)6709018,(543)9394443,36-45 YAŞ
13,323,Serdar ÇEMÇ,77873863780,E,s_cemc@miuul.com,1951-07-29,34,547,(543)4297688,(542)7539377,65+ YAŞ
14,337,Remziye ERAY,33991468715,K,r_eray@miuul.com,1967-01-26,34,719,(542)4873263,(553)2434933,56-65 YAŞ
15,342,Elife TINGIDIK,19933039590,K,e_tingidik@miuul.com,1965-02-07,34,707,(543)4621558,(532)5358366,56-65 YAŞ
16,474,Keziban OKSAK,87678193621,K,k_oksak@miuul.com,1977-11-26,34,707,(541)6218657,(543)7764885,46-55 YAŞ
17,477,Ayfer CELEBİ,80144211951,K,a_celebi@miuul.com,1986-05-26,34,543,(505)8295235,(535)2033277,36-45 YAŞ
18,486,Eren ŞUTANRIKULU,45125399189,E,e_sutanrikulu@miuul.com,1990-02-24,34,899,(534)2834758,(534)6709214,20-35 YAŞ
19,517,Onur AKSARAY,32469125920,E,o_aksaray@miuul.com,1979-10-18,34,923,(536)3901951,(541)9788847,36-45 YAŞ
20,518,Yaren UMAK,41365938908,K,y_umak@miuul.com,1957-09-10,34,83,(534)6301417,(505)4596129,65+ YAŞ
21,525,Muammer TOPALOĞLU-,7168517181,E,m_topaloglu-@miuul.com,1950-10-09,34,707,(505)9192816,(543)5442959,65+ YAŞ
22,532,Ebrar ALBAŞ,41896263989,K,e_albas@miuul.com,1955-11-28,34,310,(533)4027768,(534)8584166,65+ YAŞ
23,566,Ensar OLGAÇ,80924211220,E,e_olgac@miuul.com,1994-07-18,34,899,(555)4552219,(543)9245911,20-35 YAŞ
24,602,Bahar KAŞAYICI,47785654270,K,b_kasayici@miuul.com,1966-08-25,34,707,(538)8739532,(535)6751851,56-65 YAŞ
25,610,Ela ALTINKAN,21325635172,K,e_altinkan@miuul.com,1970-06-15,34,310,(538)8483070,(543)1775058,46-55 YAŞ
26,630,Rumeysa MARA,81583899079,K,r_mara@miuul.com,1997-09-04,34,707,(543)6392684,(533)7153585,20-35 YAŞ
27,631,Azra HASKARAMAN,40749281185,K,a_haskaraman@miuul.com,1986-06-12,34,707,(535)5133788,(533)9547231,36-45 YAŞ
28,641,Gülşen BEKDEMİR,50960125210,K,g_bekdemir@miuul.com,1947-12-18,34,134,(555)6135826,(536)3458818,65+ YAŞ
29,654,Erdal ÜRÜNLÜ,17550827248,E,e_vrvnlv@miuul.com,1966-06-16,34,543,(553)1172521,(554)8015495,56-65 YAŞ
30,656,Emircan ÖZTEL,4092345684,E,e_oztel@miuul.com,1995-09-26,34,707,(542)6706551,(541)7818778,20-35 YAŞ
31,676,Selahattin CANAYDIN,39322628588,E,s_canaydin@miuul.com,1981-03-04,34,899,(537)1118352,(505)7086339,36-45 YAŞ
32,751,Şevket ÖRGÜ,71464418638,E,s_orgv@miuul.com,1986-12-27,34,719,(534)8395150,(553)3567159,36-45 YAŞ
33,759,Güneş KOCABAŞ,16538320517,K,g_kocabas@miuul.com,1971-11-08,34,770,(543)3033710,(532)8037099,46-55 YAŞ
34,769,Gülay ÇAĞLIATALAY,75752454656,K,g_cagliatalay@miuul.com,1988-02-28,34,719,(535)6747315,(542)6854839,20-35 YAŞ
35,770,Tülin AKTAŞDOĞAN,9491013281,K,t_aktasdogan@miuul.com,1962-04-17,34,84,(543)6793282,(553)1502919,56-65 YAŞ
36,828,Yıldız TÜRKARUH,76311226661,K,y_tvrkaruh@miuul.com,1950-09-29,34,543,(543)8862283,(505)4592277,65+ YAŞ
37,845,Ömer TÜRKAKIN,57777799390,E,o_tvrkakin@miuul.com,1956-03-01,34,899,(543)3016555,(532)9004991,65+ YAŞ
38,854,Şerafettin KOMAÇAY,44085333220,E,s_komacay@miuul.com,1974-08-24,34,310,(533)2132058,(542)9142347,46-55 YAŞ
39,875,İlker ANAS,32938550941,E,i_anas@miuul.com,1964-01-14,34,84,(535)4281438,(537)2869792,56-65 YAŞ
40,926,Türkan MAH.25.SOK.,880191046,K,t_mah.25.sok.@miuul.com,1993-12-24,34,897,(533)6341392,(534)3116953,20-35 YAŞ
41,956,Zerda BİNNEOĞLU,70035515877,K,z_binneoglu@miuul.com,1983-06-04,34,84,(555)8526357,(541)7811272,36-45 YAŞ
42,970,Cemil GÜRAL,63605048963,E,c_gvral@miuul.com,1991-05-04,34,899,(538)2827421,(553)4724975,20-35 YAŞ
43,1005,Veysel USKUN,56622797451,E,v_uskun@miuul.com,1982-01-29,34,895,(538)1237653,(542)5509045,36-45 YAŞ
44,1009,Seda ALVER,58284414875,K,s_alver@miuul.com,1955-04-24,34,84,(543)4316161,(538)1041145,65+ YAŞ
45,1020,Nisanur KUZU,49402864286,K,n_kuzu@miuul.com,1983-07-06,34,707,(538)9672464,(555)4141153,36-45 YAŞ
46,1038,Yusuf Eymen TARI,22465899881,E,y_eymen@miuul.com,1946-12-28,34,707,(542)8456299,(542)1368216,65+ YAŞ

#### SORU 11

In [12]:
# -- SORU 11
df = sorgu("""
SELECT 
    CT.CITY AS SEHIR,
    COUNT(*) AS [KISI SAYISI]
FROM CUSTOMERS AS C
RIGHT JOIN CITIES AS CT ON CT.ID=C.CITYID
GROUP BY CT.CITY
ORDER BY [KISI SAYISI] DESC
""")
df

        SEHIR  KISI SAYISI
0      ŞIRNAK          110
1    İSTANBUL           47
2      ANKARA           29
3   GAZİANTEP           25
4       İZMİR           24
..        ...          ...
76  KIRIKKALE            1
77      IĞDIR            1
78    KARAMAN            1
79    BAYBURT            1
80  GÜMÜŞHANE            1

[81 rows x 2 columns]

In [13]:
# -- SORU 11
df = sorgu("""
SELECT 
    *,
    (SELECT COUNT(*)
    FROM CUSTOMERS
    WHERE CUSTOMERS.CITYID=CITIES.ID) AS [SAYI]
FROM CITIES
ORDER BY SAYI DESC
""")
df

    ID       CITY  SAYI
0   73     ŞIRNAK   110
1   34   İSTANBUL    47
2    6     ANKARA    29
3   27  GAZİANTEP    25
4   35      İZMİR    24
..  ..        ...   ...
76  76      IĞDIR     1
77  69    BAYBURT     1
78  70    KARAMAN     1
79  71  KIRIKKALE     1
80  29  GÜMÜŞHANE     0

[81 rows x 3 columns]

#### SORU 12

In [14]:
df = sorgu("""
SELECT
    CT.CITY,
    COUNT(*) AS [KULLANICI SAYISI]
FROM CUSTOMERS
JOIN CITIES AS CT ON CT.ID=CUSTOMERS.CITYID
GROUP BY CT.CITY
HAVING COUNT(*)>10
ORDER BY [KULLANICI SAYISI] DESC
""")
df

              CITY  KULLANICI SAYISI
0           ŞIRNAK               110
1         İSTANBUL                47
2           ANKARA                29
3        GAZİANTEP                25
4            İZMİR                24
5        KASTAMONU                23
6            BURSA                22
7            ÇORUM                22
8       DİYARBAKIR                20
9        BALIKESİR                20
10  AFYONKARAHİSAR                19
11         ISPARTA                19
12           KONYA                19
13           SİVAS                17
14       ŞANLIURFA                17
15         KAYSERİ                17
16          MERSİN                17
17           ADANA                16
18           AYDIN                15
19         ERZURUM                14
20         DENİZLİ                14
21          MANİSA                14
22          SAMSUN                13
23          YOZGAT                13
24          ELAZIĞ                13
25            AĞRI                13
26         ANTALYA                13
27          ARTVİN                12
28          BİNGÖL                12
29         AKSARAY                12
30        TEKİRDAĞ                12
31           MUĞLA                12
32        OSMANİYE                12
33            RİZE                12
34        ADIYAMAN                11
35          BURDUR                11

In [15]:
df = sorgu("""
SELECT
    (SELECT CITY FROM CITIES WHERE ID=CUSTOMERS.CITYID),
    COUNT(*) AS [KULLANICI SAYISI]
FROM CUSTOMERS
GROUP BY CUSTOMERS.CITYID
HAVING COUNT(*)>10
ORDER BY [KULLANICI SAYISI] DESC
""")
df

                    KULLANICI SAYISI
0           ŞIRNAK               110
1         İSTANBUL                47
2           ANKARA                29
3        GAZİANTEP                25
4            İZMİR                24
5        KASTAMONU                23
6            BURSA                22
7            ÇORUM                22
8        BALIKESİR                20
9       DİYARBAKIR                20
10         ISPARTA                19
11  AFYONKARAHİSAR                19
12           KONYA                19
13       ŞANLIURFA                17
14           SİVAS                17
15         KAYSERİ                17
16          MERSİN                17
17           ADANA                16
18           AYDIN                15
19         ERZURUM                14
20          MANİSA                14
21         DENİZLİ                14
22            AĞRI                13
23          SAMSUN                13
24         ANTALYA                13
25          YOZGAT                13
26          ELAZIĞ                13
27          BİNGÖL                12
28        TEKİRDAĞ                12
29         AKSARAY                12
30        OSMANİYE                12
31            RİZE                12
32           MUĞLA                12
33          ARTVİN                12
34        ADIYAMAN                11
35          BURDUR                11

#### SORU 13

In [16]:
df = sorgu("""
SELECT
    CT.CITY,
    GENDER, 
    COUNT(*) AS [KİŞİ SAYISI]
FROM CUSTOMERS
JOIN CITIES AS CT ON CT.ID=CITYID
GROUP BY 
    CT.CITY,
    GENDER
ORDER BY 
    1 ASC,
    3 DESC
""")
df

               CITY GENDER  KİŞİ SAYISI
0             ADANA      E           10
1             ADANA      K            6
2          ADIYAMAN      E            7
3          ADIYAMAN      K            4
4    AFYONKARAHİSAR      K           13
..              ...    ...          ...
145          YALOVA      K            1
146          YOZGAT      K            8
147          YOZGAT      E            5
148       ZONGULDAK      E            5
149       ZONGULDAK      K            3

[150 rows x 3 columns]

#### SORU 14

In [17]:
df = sorgu("""
SELECT
    CITY,
    (SELECT COUNT(*) FROM CUSTOMERS WHERE CITYID=C.CITYID) AS [MÜŞTERİ SAYISI],
    (SELECT COUNT(*) FROM CUSTOMERS WHERE GENDER='K' AND CITYID=C.CITYID) AS [KADIN SAYISI],
    (SELECT COUNT(*) FROM CUSTOMERS WHERE GENDER='E' AND CITYID=C.CITYID)  AS [ERKEK SAYISI]
FROM CUSTOMERS AS C
JOIN CITIES AS CT ON CT.ID=C.CITYID
GROUP BY CITYID, CITY
ORDER BY 2 DESC
""")
df

         CITY  MÜŞTERİ SAYISI  KADIN SAYISI  ERKEK SAYISI
0      ŞIRNAK             110            63            47
1    İSTANBUL              47            26            21
2      ANKARA              29            16            13
3   GAZİANTEP              25            11            14
4       İZMİR              24            14            10
..        ...             ...           ...           ...
75      DÜZCE               2             1             1
76      IĞDIR               1             0             1
77    BAYBURT               1             1             0
78    KARAMAN               1             1             0
79  KIRIKKALE               1             1             0

[80 rows x 4 columns]

In [18]:
df = sorgu("""
SELECT 
    CITY,
    (SELECT COUNT(*) FROM CUSTOMERS WHERE CT.ID=CITYID) AS [MÜŞTERİ SAYISI],
    (SELECT COUNT(*) FROM CUSTOMERS WHERE GENDER='K' AND CT.ID=CITYID) AS [KADIN SAYISI],
    (SELECT COUNT(*) FROM CUSTOMERS WHERE GENDER='E' AND CT.ID=CITYID)  AS [ERKEK SAYISI]
FROM CITIES AS CT
ORDER BY 2 DESC
""")
df

         CITY  MÜŞTERİ SAYISI  KADIN SAYISI  ERKEK SAYISI
0      ŞIRNAK             110            63            47
1    İSTANBUL              47            26            21
2      ANKARA              29            16            13
3   GAZİANTEP              25            11            14
4       İZMİR              24            14            10
..        ...             ...           ...           ...
76      IĞDIR               1             0             1
77    BAYBURT               1             1             0
78    KARAMAN               1             1             0
79  KIRIKKALE               1             1             0
80  GÜMÜŞHANE               0             0             0

[81 rows x 4 columns]

#### SORU 15

In [ ]:
df = sorgu("""
ALTER TABLE CUSTOMERS 
ADD AGEGROUP VARCHAR(50);
""")
df

#### SORU 16

In [ ]:
df = sorgu("""
UPDATE CUSTOMERS 
SET AGEGROUP='20-35 YAŞ' 
WHERE DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 20 AND 35

UPDATE CUSTOMERS 
SET AGEGROUP='36-45 YAŞ' 
WHERE DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 36 AND 45

UPDATE CUSTOMERS 
SET AGEGROUP='46-55 YAŞ' 
WHERE DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 46 AND 55

UPDATE CUSTOMERS 
SET AGEGROUP='56-65 YAŞ' 
WHERE DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 56 AND 65

UPDATE CUSTOMERS 
SET AGEGROUP='65+ YAŞ' 
WHERE DATEDIFF(YEAR, BIRTHDATE, GETDATE()) > 65
""", select=False)
df

In [19]:
df = sorgu("""
SELECT *
FROM CUSTOMERS
WHERE AGEGROUP IS NULL
""")
df

Empty DataFrame
Columns: [ID, NAMESURNAME, TCNUMBER, GENDER, EMAIL, BIRTHDATE, CITYID, DISTRICT, TELNR1, TELNR2, AGEGROUP]
Index: []

#### SORU 17

In [20]:
df = sorgu("""
SELECT 
    ARALIK,
    COUNT(*) AS SAYI
FROM (
    SELECT 
        CASE
            WHEN DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 20 AND 35 THEN '20-35 YAŞ'
            WHEN DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 36 AND 45 THEN '36-45 YAŞ'
            WHEN DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 46 AND 55 THEN '46-55 YAŞ'
            WHEN DATEDIFF(YEAR, BIRTHDATE, GETDATE()) BETWEEN 56 AND 65 THEN '56-65 YAŞ'
            WHEN DATEDIFF(YEAR, BIRTHDATE, GETDATE()) > 65 THEN '65+ YAŞ' 
        END AS ARALIK,
        *
    FROM CUSTOMERS) AS TEMP
GROUP BY ARALIK
""")
df

      ARALIK  SAYI
0    65+ YAŞ   266
1  46-55 YAŞ   163
2  20-35 YAŞ   207
3  36-45 YAŞ   154
4  56-65 YAŞ   161

#### SORU 18

In [21]:
df = sorgu("""
SELECT *
FROM CUSTOMERS AS C
JOIN CITIES AS CT ON CT.ID=C.CITYID
JOIN DISTRICTS AS D ON D.ID=C.DISTRICT
WHERE 
    CT.CITY='İSTANBUL'
    AND D.DISTRICT<>'KADIKÖY'
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP,ID,CITY,ID,CITYID,DISTRICT
0,15,Yasin AĞAGÜL,32764684197,E,y_agagvl@miuul.com,1979-10-19,34,897,(532)6102663,(537)3381012,36-45 YAŞ,34,İSTANBUL,897,34,BAHÇELİEVLER
1,143,Sebahat CİLALITAŞ,65960134490,K,s_cilalitas@miuul.com,1978-09-30,34,64,(535)7019065,(532)2408341,36-45 YAŞ,34,İSTANBUL,64,80,BAHÇE
2,152,Deniz BENDER,31619199155,E,d_bender@miuul.com,1986-04-04,34,134,(542)4181722,(536)4621320,36-45 YAŞ,34,İSTANBUL,134,65,ÇATAK
3,156,Çağla BEĞEN,85581395736,K,c_begen@miuul.com,1991-12-22,34,81,(535)1338012,(533)8331511,20-35 YAŞ,34,İSTANBUL,81,2,BESNİ
4,182,Nurettin GAYRETLİ,2822523822,E,n_gayretli@miuul.com,1950-04-27,34,84,(532)7969080,(536)7322740,65+ YAŞ,34,İSTANBUL,84,34,BEYKOZ
5,195,Yeliz KÜÇÜKALP,65432369284,K,y_kvcvkalp@miuul.com,1965-02-26,34,488,(555)9613650,(543)1071715,56-65 YAŞ,34,İSTANBUL,488,54,SAPANCA
6,222,Eylül GÜLÜ,56388773535,K,e_gvlv@miuul.com,1969-08-24,34,3,(537)5953916,(532)4647711,46-55 YAŞ,34,İSTANBUL,3,34,ADALAR
7,232,Müzeyyen OCAKÇI,89589164667,K,m_ocakci@miuul.com,1972-02-19,34,707,(543)1576124,(505)9181537,46-55 YAŞ,34,İSTANBUL,707,42,KARATAY
8,258,Muhammed Emin TEKKAYA,87271968026,E,m_emin@miuul.com,1984-04-19,34,897,(542)2911632,(535)9881318,36-45 YAŞ,34,İSTANBUL,897,34,BAHÇELİEVLER
9,267,Neslihan KILIÇÇEKER,53734331933,K,n_kilicceker@miuul.com,1982-10-04,34,707,(543)1432619,(505)2287257,36-45 YAŞ,34,İSTANBUL,707,42,KARATAY
10,302,Yusuf Eymen İCİK,46344601102,E,y_eymen@miuul.com,1968-05-19,34,310,(532)2557216,(538)8002129,46-55 YAŞ,34,İSTANBUL,310,31,İSKENDERUN
11,310,Mevlüt ŞİMSEKER,2065043165,E,m_simseker@miuul.com,1949-11-11,34,83,(536)7793481,(536)9413739,65+ YAŞ,34,İSTANBUL,83,72,BEŞİRİ
12,311,Nisanur AKKULAK,49012429023,K,n_akkulak@miuul.com,1979-02-06,34,895,(555)6709018,(543)9394443,36-45 YAŞ,34,İSTANBUL,895,34,AVCILAR
13,323,Serdar ÇEMÇ,77873863780,E,s_cemc@miuul.com,1951-07-29,34,547,(543)4297688,(542)7539377,65+ YAŞ,34,İSTANBUL,547,28,ŞEBİNKARAHİSAR
14,337,Remziye ERAY,33991468715,K,r_eray@miuul.com,1967-01-26,34,719,(542)4873263,(553)2434933,56-65 YAŞ,34,İSTANBUL,719,35,MENDERES
15,342,Elife TINGIDIK,19933039590,K,e_tingidik@miuul.com,1965-02-07,34,707,(543)4621558,(532)5358366,56-65 YAŞ,34,İSTANBUL,707,42,KARATAY
16,474,Keziban OKSAK,87678193621,K,k_oksak@miuul.com,1977-11-26,34,707,(541)6218657,(543)7764885,46-55 YAŞ,34,İSTANBUL,707,42,KARATAY
17,477,Ayfer CELEBİ,80144211951,K,a_celebi@miuul.com,1986-05-26,34,543,(505)8295235,(535)2033277,36-45 YAŞ,34,İSTANBUL,543,58,ŞARKIŞLA
18,486,Eren ŞUTANRIKULU,45125399189,E,e_sutanrikulu@miuul.com,1990-02-24,34,899,(534)2834758,(534)6709214,20-35 YAŞ,34,İSTANBUL,899,35,ÇİĞLİ
19,517,Onur AKSARAY,32469125920,E,o_aksaray@miuul.com,1979-10-18,34,923,(536)3901951,(541)9788847,36-45 YAŞ,34,İSTANBUL,923,81,KAYNAŞLI
20,518,Yaren UMAK,41365938908,K,y_umak@miuul.com,1957-09-10,34,83,(534)6301417,(505)4596129,65+ YAŞ,34,İSTANBUL,83,72,BEŞİRİ
21,525,Muammer TOPALOĞLU-,7168517181,E,m_topaloglu-@miuul.com,1950-10-09,34,707,(505)9192816,(543)5442959,65+ YAŞ,34,İSTANBUL,707,42,KARATAY
22,532,Ebrar ALBAŞ,41896263989,K,e_albas@miuul.com,1955-11-28,34,310,(533)4027768,(534)8584166,65+ YAŞ,34,İSTANBUL,310,31,İSKENDERUN
23,566,Ensar OLGAÇ,80924211220,E,e_olgac@miuul.com,1994-07-18,34,899,(555)4552219,(543)9245911,20-35 YAŞ,34,İSTANBUL,899,35,ÇİĞLİ
24,602,Bahar KAŞAYICI,47785654270,K,b_kasayici@miuul.com,1966-08-25,34,707,(538)8739532,(535)6751851,56-65 YAŞ,34,İSTANBUL,707,42,KARATAY
25,610,Ela ALTINKAN,21325635172,K,e_altinkan@miuul.com,1970-06-15,34,310,(538)8483070,(543)1775058,46-55 YAŞ,34,İSTANBUL,310,31,İSKENDERUN
26,630,Rumeysa MARA,81583899079,K,r_mara@miuul.com,1997-09-04,34,707,(543)6392684,(533)7153585,20-35 YAŞ,34,İSTANBUL,707,42,KARATAY
27,631,Azra HASKARAMAN,40749281185,K,a_haskaraman@miuul.com,1986-06-12,34,707,(535)5133788,(533)9547231,36-45 YAŞ,34,İSTANBUL,707,42,KARATAY
28,641,Gülşen BEKDEMİR,50960125210,K,g_bekdemir@miuul.com,1947-12-18,34,134,(555)6135826,(536)3458818,65+ YAŞ,34,İSTANBUL,134,65,ÇATAK
29,654,Erdal ÜRÜNLÜ,17550827248,E,e_vrvnlv@miuul.com,1966-06-16,34,543,(553)1172521,(554)8015495,56-65 YAŞ,34,İSTANBUL,543,58,ŞARKIŞLA
30,656,Emircan ÖZTEL,4092345684,E,e_oztel@miuul.com,1995-09-26,34,707,(542)6706551,(541)7818778,20-35 YAŞ,34,İSTANBUL,707,42,KARATAY
31,676,Selahattin CANAYDIN,39322628588,E,s_canaydin@miuul.com,1981-03-04,34,899,(537)1118352,(505)7086339,36-45 YAŞ,34,İSTANBUL,899,35,ÇİĞLİ
32,751,Şevket ÖRGÜ,71464418638,E,s_orgv@miuul.com,1986-12-27,34,719,(534)8395150,(553)3567159,36-45 YAŞ,34,İSTANBUL,719,35,MENDERES
33,759,Güneş KOCABAŞ,16538320517,K,g_kocabas@miuul.com,1971-11-08,34,770,(543)3033710,(532)8037099,46-55 YAŞ,34,İSTANBUL,770,66,AYDINCIK/YOZGAT
34,769,Gülay ÇAĞLIATALAY,75752454656,K,g_cagliatalay@miuul.com,1988-02-28,34,719,(535)6747315,(542)6854839,20-35 YAŞ,34,İSTANBUL,719,35,MENDERES
35,770,Tülin AKTAŞDOĞAN,9491013281,K,t_aktasdogan@miuul.com,1962-04-17,34,84,(543)6793282,(553)1502919,56-65 YAŞ,34,İSTANBUL,84,34,BEYKOZ
36,828,Yıldız TÜRKARUH,76311226661,K,y_tvrkaruh@miuul.com,1950-09-29,34,543,(543)8862283,(505)4592277,65+ YAŞ,34,İSTANBUL,543,58,ŞARKIŞLA
37,845,Ömer TÜRKAKIN,57777799390,E,o_tvrkakin@miuul.com,1956-03-01,34,899,(543)3016555,(532)9004991,65+ YAŞ,34,İSTANBUL,899,35,ÇİĞLİ
38,854,Şerafettin KOMAÇAY,44085333220,E,s_komacay@miuul.com,1974-08-24,34,310,(533)2132058,(542)9142347,46-55 YAŞ,34,İSTANBUL,310,31,İSKENDERUN
39,875,İlker ANAS,32938550941,E,i_anas@miuul.com,1964-01-14,34,84,(535)4281438,(537)2869792,56-65 YAŞ,34,İSTANBUL,84,34,BEYKOZ
40,926,Türkan MAH.25.SOK.,880191046,K,t_mah.25.sok.@miuul.com,1993-12-24,34,897,(533)6341392,(534)3116953,20-35 YAŞ,34,İSTANBUL,897,34,BAHÇELİEVLER
41,956,Zerda BİNNEOĞLU,70035515877,K,z_binneoglu@miuul.com,1983-06-04,34,84,(555)8526357,(541)7811272,36-45 YAŞ,34,İSTANBUL,84,34,BEYKOZ
42,970,Cemil GÜRAL,63605048963,E,c_gvral@miuul.com,1991-05-04,34,899,(538)2827421,(553)4724975,20-35 YAŞ,34,İSTANBUL,899,35,ÇİĞLİ
43,1005,Veysel USKUN,56622797451,E,v_uskun@miuul.com,1982-01-29,34,895,(538)1237653,(542)5509045,36-45 YAŞ,34,İSTANBUL,895,34,AVCILAR
44,1009,Seda ALVER,58284414875,K,s_alver@miuul.com,1955-04-24,34,84,(543)4316161,(538)1041145,65+ YAŞ,34,İSTANBUL,84,34,BEYKOZ
45,1020,Nisanur KUZU,49402864286,K,n_kuzu@miuul.com,1983-07-06,34,707,(538)9672464,(555)4141153,36-45 YAŞ,34,İSTANBUL,707,42,KARATAY
46,1038,Yusuf Eymen TARI,22465899881,E,y_eymen@miuul.com,1946-12-28,34,707,(542)8456299,(542)1368216,65+ YAŞ,34,İSTANBUL,707,42,KARATAY

#### SORU 19

In [22]:
"""
DELETE FROM CITIES WHERE CITY='ANKARA'
DELETE FROM CITIES WHERE CITY='İSTANBUL'
"""

"""
SELECT *
FROM CITIES
"""

df = sorgu("""
SELECT *
FROM CUSTOMERS AS C
LEFT JOIN CITIES AS CT ON CT.ID=C.CITYID
WHERE CT.CITY IS NULL
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP,ID,CITY
0,167,Aslı GÜNE,63618747382,K,a_gvne@miuul.com,1994-05-06,6,157,(505)6442992,(532)8235020,20-35 YAŞ,None,None
1,190,Güllü SALUR,76464619181,K,g_salur@miuul.com,1998-01-24,6,128,(533)7408614,(535)5992618,20-35 YAŞ,None,None
2,217,Rukiye ÜNGÖR,1490087423,K,r_vngor@miuul.com,1956-07-07,6,756,(554)1519484,(538)7692165,65+ YAŞ,None,None
3,238,Güler BEŞKAYA,87951772201,K,g_beskaya@miuul.com,1998-07-21,6,756,(553)8215027,(555)8771930,20-35 YAŞ,None,None
4,246,Sefa CANGAR,17673520419,E,s_cangar@miuul.com,1958-07-31,6,361,(554)1434188,(533)3133445,56-65 YAŞ,None,None
5,268,İzzet CANKURU,76469454575,E,i_cankuru@miuul.com,1978-12-11,6,257,(555)3724345,(541)4935289,36-45 YAŞ,None,None
6,286,Seval ÖZKANLI,52599001986,K,s_ozkanli@miuul.com,1995-07-02,6,425,(534)7052964,(538)6732660,20-35 YAŞ,None,None
7,288,Halil İbrahim BİMBİRDİREK,12831119936,E,h_ibrahim@miuul.com,1971-07-19,6,756,(544)4642995,(537)9514174,46-55 YAŞ,None,None
8,295,Ecrin MÜRSEL,1693687461,K,e_mvrsel@miuul.com,1956-01-17,6,425,(535)3784675,(533)9489743,65+ YAŞ,None,None
9,427,Cihan SAYGINER,14412309644,E,c_sayginer@miuul.com,1943-03-26,6,30,(533)8984184,(537)3434486,65+ YAŞ,None,None
10,512,Asmin BEYAZ,36842816609,K,a_beyaz@miuul.com,1994-04-03,6,85,(536)3792992,(538)6039938,20-35 YAŞ,None,None
11,552,Fırat İRKİN,72623467612,E,f_irkin@miuul.com,1989-05-22,6,128,(505)9445060,(534)1412562,20-35 YAŞ,None,None
12,591,Arda ŞENONAR,65535487566,E,a_senonar@miuul.com,1950-04-29,6,30,(542)2933113,(542)3205586,65+ YAŞ,None,None
13,704,Sude ÖZKAYA,22234496567,K,s_ozkaya@miuul.com,1977-08-20,6,425,(554)5367428,(542)1843155,46-55 YAŞ,None,None
14,740,Muhammed Eymen KÖSEM,82326695772,E,m_eymen@miuul.com,1941-12-26,6,699,(536)1631655,(532)1391943,65+ YAŞ,None,None
15,757,Talha GÜNEŞAN,669362539,E,t_gvnesan@miuul.com,1968-02-08,6,257,(555)1197265,(541)7244423,46-55 YAŞ,None,None
16,784,İbrahim SALİHOGLU,86674017161,E,i_salihoglu@miuul.com,1981-12-31,6,425,(538)8065052,(541)3401277,36-45 YAŞ,None,None
17,810,Beren TOPUZLU,31246957023,K,b_topuzlu@miuul.com,1944-10-25,6,279,(533)5588679,(538)6766130,65+ YAŞ,None,None
18,817,Erdi ÖZGUR,75494642060,E,e_ozgur@miuul.com,1957-02-16,6,257,(555)7495716,(544)8413149,65+ YAŞ,None,None
19,819,Özge TEKGÜL,82885434207,K,o_tekgvl@miuul.com,1941-02-20,6,157,(532)7827928,(536)9142638,65+ YAŞ,None,None
20,843,Meryem KÖKTAŞOĞLU,79296706844,K,m_koktasoglu@miuul.com,1974-01-12,6,756,(532)6056838,(534)6881421,46-55 YAŞ,None,None
21,881,Ayaz ERSEM,72495969222,E,a_ersem@miuul.com,1954-05-06,6,128,(537)8422490,(536)6348385,65+ YAŞ,None,None
22,889,Ozan ENGİ,79467241698,E,o_engi@miuul.com,1981-08-24,6,157,(542)4963619,(534)2298641,36-45 YAŞ,None,None
23,892,Seda ONUKER,73400694608,K,s_onuker@miuul.com,1970-02-16,6,30,(543)6923294,(544)1355633,46-55 YAŞ,None,None
24,919,Öykü AKBEY,33540327223,K,o_akbey@miuul.com,1959-01-19,6,316,(505)2251334,(554)4869225,56-65 YAŞ,None,None
25,961,Nazmiye BALIBEYİ,77591284503,K,n_balibeyi@miuul.com,1995-03-03,6,425,(532)9909121,(535)9144021,20-35 YAŞ,None,None
26,987,Hanım ÇAVDARCI,28535948469,K,h_cavdarci@miuul.com,1999-01-13,6,128,(537)7846331,(536)4028828,20-35 YAŞ,None,None
27,1007,Utku KIYICI,39412982698,E,u_kiyici@miuul.com,1945-01-11,6,85,(534)6719211,(532)1656224,65+ YAŞ,None,None
28,1027,Fatmanur KELLEKCİ,4711619440,K,f_kellekci@miuul.com,1970-10-27,6,85,(544)9545269,(553)2738515,46-55 YAŞ,None,None

#### SORU 20

In [23]:
df = sorgu("""
SET IDENTITY_INSERT CITIES ON
INSERT INTO CITIES (ID, CITY) VALUES (6, 'ANKARA')
INSERT INTO CITIES (ID, CITY) VALEUS (34, 'İSTANBUL')
""")
df

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near 'VALEUS'. (102) (SQLExecDirectW)")

#### SORU 21

In [25]:
df = sorgu("""
SELECT 
    *,
    LEFT(TELNR1, 5) AS OPERATOR1,
    SUBSTRING(TELNR2, 2, 3) AS OPERATOR2
FROM CUSTOMERS
""")
df

,ID,NAMESURNAME,TCNUMBER,GENDER,EMAIL,BIRTHDATE,CITYID,DISTRICT,TELNR1,TELNR2,AGEGROUP,OPERATOR1,OPERATOR2
0,1,Sevda AKÇAN,42074151323,K,s_akcan@miuul.com,1964-05-12,22,202,(542)5255514,(532)3438190,56-65 YAŞ,(542),532
1,2,Sebahat ŞERALI,74789296130,K,s_serali@miuul.com,1943-06-11,78,473,(534)7157144,(532)2212126,65+ YAŞ,(534),532
2,3,Irmak HAMİDİ,86856513494,K,i_hamidi@miuul.com,1973-11-13,21,675,(533)2144819,(555)1183975,46-55 YAŞ,(533),555
3,4,Tuğçe AKKOÇ,50190579600,K,t_akkoc@miuul.com,1958-06-08,30,158,(543)4243115,(533)6299636,56-65 YAŞ,(543),533
4,5,Necdet ERÇAM,26046030220,E,n_ercam@miuul.com,1986-05-22,60,718,(532)6896237,(534)2924742,36-45 YAŞ,(532),534
...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,1037,Nisa nur MÜFTÜLÜĞÜ,20261366583,K,n_nur@miuul.com,1950-04-24,73,815,(537)4308013,(537)6345257,65+ YAŞ,(537),537
947,1038,Yusuf Eymen TARI,22465899881,E,y_eymen@miuul.com,1946-12-28,34,707,(542)8456299,(542)1368216,65+ YAŞ,(542),542
948,1040,Esma nur HIZLAR,36786286035,K,e_nur@miuul.com,1954-07-29,3,178,(537)4855581,(536)8432561,65+ YAŞ,(537),536
949,1041,Şaziye AKKOCA,58126168060,K,s_akkoca@miuul.com,1949-08-07,41,329,(541)5516258,(533)6463631,65+ YAŞ,(541),533
950,1042,Muhammed Emin ERÇAYAN,46655921674,E,m_emin@miuul.com,1956-02-16,48,414,(536)2517884,(554)8189217,65+ YAŞ,(536),554