	-- AGG KOMUTLARI
SELECT 
	BRANCH AS [SUBE ADI],
	SUM(LINENET) AS [TOPLAM SATIS],
	COUNT(LINENET) AS [SATIS SAYISI],
	MIN(LINENET) AS [MINIMUM SATIS],
	MAX(LINENET) AS [MAKSIMUM SATIS],
	AVG(LINENET) AS [ORTALAMA SATIS]
FROM
	SALES
GROUP BY
	BRANCH
ORDER BY
	BRANCH

	-- GROUP BY VE HAVING KOMUTU
SELECT 
	BRANCH AS [SUBE ADI],
	COUNT(LINENET) AS [SATIS SAYISI]
FROM
	SALES
GROUP BY
	BRANCH
HAVING 
	COUNT(LINENET) > 15000
ORDER BY
	[SATIS SAYISI] DESC

	-- ŞUBELERİN GÜNLÜK SATIŞLARI
SELECT
	DATE_,
	BRANCH,
	SUM(LINENET) AS SATIS
FROM
	SALES
GROUP BY 
	DATE_, BRANCH
ORDER BY
	DATE_

	-- KATEGORİLERE GÖRE SATIS TUTARI
SELECT 
	CATEGORY_NAME1, 
	CATEGORY_NAME2,
	SUM(LINENET) AS [SATIS TUTARI]
FROM 
	SALES
WHERE
	CATEGORY_NAME1 IS NOT NULL
GROUP BY 
	CATEGORY_NAME1, 
	CATEGORY_NAME2
HAVING 
	SUM(LINENET) > 30000
ORDER BY
	[SATIS TUTARI] DESC

	-- MUSTERILERIN GITTIGI MAGAZA SAYILARI
SELECT
	CLIENTNAME, 
	COUNT(DISTINCT BRANCH) AS [MAGAZA SAYISI]
FROM
	SALES
WHERE
	CLIENTNAME IS NOT NULL
GROUP BY 
	CLIENTNAME
HAVING 
	COUNT(DISTINCT BRANCH) > 1
ORDER BY
	[MAGAZA SAYISI] DESC

/*
TRUNCATE TABLE BASKET
TRUNCATE TABLE BASKETDETAIL
TRUNCATE TABLE PAYMENT
TRUNCATE TABLE ORDERDETAIL
TRUNCATE TABLE ORDER_
TRUNCATE TABLE INVOICE
TRUNCATE TABLE INVOICEDETAIL
*/
DECLARE @I AS INT=0
WHILE @I<1
BEGIN
DECLARE @USERID AS INT
DECLARE @BASKETID AS INT
DECLARE @ITEMID AS INT
DECLARE @ORDERID AS INT
DECLARE @DATE AS DATETIME

DECLARE @DATE2 AS DATETIME
DECLARE @RAND AS FLOAT
DECLARE @ADDRESID AS INT 

--USER SEÇİLİYOR
SET @RAND =RAND()*10000
SET @USERID =@RAND
SET @RAND =RAND()*365
SET @DATE =DATEADD(DAY,-@RAND,GETDATE())
SET @DATE2=@DATE 
DECLARE @ADDRESSCOUNT AS INT
SELECT @ADDRESSCOUNT=COUNT(*) FROM ADDRES WHERE USERID=@USERID 

SELECT @ADDRESID=ID  FROM (SELECT 
  ROW_NUMBER() OVER(  ORDER BY ID ASC) AS ROWNR,
* FROM ADDRES WHERE USERID=@USERID
) T WHERE ROWNR=ROUND(RAND()*@ADDRESSCOUNT,0)
--BASKET
INSERT INTO BASKET(USERID, CREATEDDATE, STATUS_)
VALUES (@USERID,@DATE,0)
SET @BASKETID=@@IDENTITY
--BASKETDETAIL
DECLARE @ITEMCOUNT AS INT
SET @ITEMCOUNT=RAND()*10
DECLARE @K AS INT=0
DECLARE @AMOUNT AS INT
	WHILE @K<@ITEMCOUNT
	BEGIN
		SET @ITEMID=RAND()*28110
		SET @AMOUNT =1+(RAND()*4)
		SET @DATE=ISNULL((SELECT MAX(DATE_) FROM BASKETDETAIL WHERE BASKETID=@BASKETID),@DATE)
		SET @DATE=DATEADD(SECOND,RAND()*150, @DATE)
		INSERT INTO BASKETDETAIL( BASKETID, DATE_, ITEMID, AMOUNT, PRICE,  TOTAL)
		SELECT   @BASKETID,@DATE,@ITEMID,@AMOUNT,PRICE,PRICE*@AMOUNT FROM ITEM WHERE ID=@ITEMID
		SET @K=@K+1
		UPDATE BASKET SET LASTMODIFIEDDATE=@DATE WHERE ID=@BASKETID
	END
----PAYMENT
DECLARE @TOTALPRICE AS FLOAT
DECLARE @APPROVECODE AS VARCHAR(20)
SET @DATE =DATEADD(SECOND,RAND()*50,@DATE)
SET @APPROVECODE='OK'+CONVERT(VARCHAR,@BASKETID)+CONVERT(VARCHAR,YEAR(@DATE)*365+DAY(@DATE)+DATEPART(SECOND,@DATE))
SELECT @TOTALPRICE=SUM(AMOUNT*PRICE) FROM BASKETDETAIL WHERE BASKETID=@BASKETID
INSERT INTO PAYMENT (BASKETID, TOTALPRICE, PAYMENTTYPE, DATE_, ISOK, APPROVECODE, ERROR_)
VALUES (@BASKETID, @TOTALPRICE, ROUND(RAND()*5,0), @DATE, 1, @APPROVECODE, '')


UPDATE BASKET SET STATUS_=1 WHERE ID=@BASKETID
--ORDER
INSERT INTO ORDER_ ( USERID, ADDRESSID, BASKETID, DATE_, STATUS_)
VALUES (@USERID,@ADDRESID,@BASKETID,@DATE,1)

SET @ORDERID=@@IDENTITY
--ORDERDETAIL
DECLARE @INVOICEID AS INT

INSERT INTO ORDERDETAIL(ORDERID, BASKETDETAILID, ITEMID, AMOUNT, PRICE, TOTALPRICE)
SELECT @ORDERID, ID, ITEMID, AMOUNT, PRICE, AMOUNT*PRICE ASTOTALPRICE FROM BASKETDETAIL WHERE BASKETID=@BASKETID

--INVOICE
DECLARE @INVOICENO AS VARCHAR(100)
SELECT  @INVOICENO=REPLACE(CONVERT(VARCHAR,GETDATE(),104),'.','')+'-'+REPLACE(CONVERT(VARCHAR,GETDATE(),108),':','')
INSERT INTO [dbo].[INVOICE] (ORDERID, INVOICENO, DATE_, CARGOFICHENO, STATUS_)
VALUES (@ORDERID,@INVOICENO,DATEADD(SECOND,(100000+RAND()*250000),@DATE),'CRG'+@INVOICENO,1)


 SET @INVOICEID=@@IDENTITY

INSERT INTO INVOICEDETAIL (INVOICEID, ORDERDETAILID, ITEMID, PRICE, AMOUNT,TOTALPRICE)
SELECT @INVOICEID, ID, ITEMID, PRICE, AMOUNT, PRICE*AMOUNT FROM ORDERDETAIL WHERE ORDERID=@ORDERID
--SELECT @USERID,@DATE ,@ADDRESSCOUNT,@ADDRESID

SET @I=@I+1 
END

SELECT 
	U.USERNAME_ AS [Kullanıcı Adı], 
	U.NAMESURNAME AS [İsim Soyisim],
	A.ADDRESSTEXT AS [Adres], 
	C.CITY AS [Şehir],
	COUNT(*) AS [Sayı]
FROM
	USER_ AS U
JOIN ADDRES AS A ON U.ID=A.USERID
JOIN CITY AS C ON C.ID=A.CITYID
JOIN TOWN AS T ON T.ID=A.TOWNID
JOIN DISTRICT AS D ON D.ID=A.DISTRICTID
--WHERE 
--	U.ID=1
GROUP BY 
	U.USERNAME_, 
	U.NAMESURNAME,
	A.ADDRESSTEXT,
	C.CITY
HAVING 
	COUNT(*) = 1
ORDER BY
	4 DESC,
	[Kullanıcı Adı] ASC

-- BİR KULLANICININ YAPTIĞI ALIŞVERİŞ SAYISI, ADEDİ VE TOPLAM TUTARI
SELECT 
	U.ID AS ID,
	U.USERNAME_ AS [KULLANICI ADI],
	U.NAMESURNAME AS [ADI SOYADI],
	U.EMAIL AS [E-POSTA ADRESİ],
	U.TELNR1 AS [TEL NO],
	COUNT(DISTINCT O.ID) AS [SİPARİŞ SAYISI],
	SUM(DISTINCT BD.TOTAL) AS [TOPLAM TUTAR],
	COUNT(DISTINCT BD.ITEMID) AS [ÜRÜN ÇEŞİDİ]
FROM
	USER_ AS U
JOIN ORDER_ AS O ON U.ID=O.USERID
JOIN BASKET AS B ON U.ID=B.USERID
JOIN BASKETDETAIL AS BD ON B.ID=BD.BASKETID
GROUP BY 
	U.USERNAME_,
	U.NAMESURNAME,
	U.EMAIL,
	U.TELNR1,
	U.ID
ORDER BY 
	[SİPARİŞ SAYISI] DESC,
	[ÜRÜN ÇEŞİDİ] DESC,
	[TOPLAM TUTAR] DESC

-- HANGİ KULLANICI HANGİ ŞEHİRDE KAÇ KERE ALIŞVERİŞ YAPTI
SELECT 
	U.ID AS ID,
	U.USERNAME_ AS [KULLANICI ADI],
	U.NAMESURNAME AS [ADI SOYADI],
	C.CITY AS [ŞEHİR],
	COUNT(DISTINCT O.ID) AS [SİPARİŞ SAYISI],
	SUM(DISTINCT BD.TOTAL) AS [TOPLAM TUTAR],
	COUNT(DISTINCT BD.ITEMID) AS [ÜRÜN ÇEŞİDİ]
FROM
	USER_ AS U
JOIN ORDER_ AS O ON U.ID=O.USERID
JOIN BASKET AS B ON U.ID=B.USERID
JOIN BASKETDETAIL AS BD ON B.ID=BD.BASKETID
JOIN ADDRES AS A ON O.ADDRESSID=A.ID
JOIN CITY AS C ON A.CITYID=C.ID
GROUP BY 
	U.ID,
	U.USERNAME_,
	U.NAMESURNAME,
	C.CITY
ORDER BY 
	[KULLANICI ADI]

SELECT 
	C.CITY,
	SUM(CASE WHEN U.GENDER='K' THEN BD.TOTAL ELSE 0 END) AS [TOPLAM-KADIN],
	SUM(CASE WHEN U.GENDER='E' THEN BD.TOTAL ELSE 0 END) AS [TOPLAM-ERKEK]
FROM ORDER_ AS O
JOIN USER_ AS U ON U.ID=O.USERID
JOIN ADDRES AS A ON A.ID=O.ADDRESSID
JOIN CITY AS C ON C.ID=A.CITYID
JOIN BASKET AS B ON B.ID=O.BASKETID
JOIN BASKETDETAIL AS BD ON BD.BASKETID=B.ID
GROUP BY C.CITY
ORDER BY C.CITY

SELECT ASCII('A')

SELECT CHAR(49)

SELECT ASCII(CHAR(49))

SELECT SUBSTRING('MERHABA DUNYA', 1, 2)

SELECT CHARINDEX('DUNAY', 'MERHABA DUNYA')

SELECT 'MERHABA'+' '+'DUNYA'
SELECT CONCAT('MERHABA', ' ', 'DUNYA')
SELECT CONCAT_WS('_', 'MERHABA', 'DUNYA')

SELECT FORMAT(GETDATE(), 'd', 'en-us')
SELECT FORMAT(GETDATE(), 'd', 'tr-tr')

SELECT FORMAT(GETDATE(), 'D', 'en-us')
SELECT FORMAT(GETDATE(), 'D', 'tr-tr')

SELECT LEFT('MERHABA DUNYA', 3)
SELECT RIGHT('MERHABA DUNYA', 3)
SELECT LEN('MERHABA DUNYA')

SELECT LEFT('KADIR CAN', CHARINDEX(' ', 'KADIR CAN'))
SELECT RIGHT('KADIR CAN', LEN('KADIR CAN')-CHARINDEX(' ', 'KADIR CAN'))

SELECT TRIM('  MERHABA_DUNYA   ')
'MERHABA_DUNYA'
SELECT LTRIM('  MERHABA_DUNYA   ')
'MERHABA_DUNYA   '
SELECT RTRIM('  MERHABA_DUNYA   ')
'  MERHABA_DUNYA'

SELECT LOWER('merhaba dunya')
SELECT UPPER('MERHABA DUNYA')

SELECT REVERSE('MERHABA DUNYA')

SELECT REPLICATE('A', 20)

SELECT CONCAT(REPLICATE('0', 10-LEN(555)), 555)
SELECT CONCAT(REPLICATE('0', 10-LEN(29)), 29)
SELECT CONCAT(REPLICATE('0', 10-LEN(29426)), 29426)

SELECT REPLACE('KADIR UZUMCU', 'KADIR', 'KADIR CAN')
SELECT REPLACE('KAD', 'AD', 'ADIR CAN')


DECLARE @LEN_ONCE AS INT
DECLARE @LEN_SONRA AS INT
DECLARE @METIN AS VARCHAR(MAX)
DECLARE @KELIME AS VARCHAR(50)

SET @METIN='This SQL tutorial helps you get started with SQL quickly and effectively through many practical examples.
If you are a software developer, database administrator, data analyst, or data scientist who wants to use SQL to analyze data, this tutorial is a good start.
Each topic is covered clearly and concisely with many practical examples that help you truly understand the concept and apply it to solve the data challenges more effectively.
SQL stands for Structured Query Language designed to manipulate data in the Relational Database Management Systems (RDBMS).
Today, SQL is one of the most common programming languages for interacting with data.';

SET @LEN_ONCE=LEN(@METIN)

SET @KELIME='SQL'

SET @METIN=REPLACE(@METIN, @KELIME, '')

SET @LEN_SONRA=LEN(@METIN)

SELECT (@LEN_ONCE-@LEN_SONRA)/LEN(@KELIME)